/* verde: 346f58 */
/* bege: fffef7 */

.entity-list{
    max-width: 700px;
    margin: 20px auto 0; /* 20 em cima, auto direita e esquerda, 0 em baixo */
    padding: 0 20px;
}

.entity-list article{
    background: #fffef7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.entity-list article p{
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.entity-list article a{
    height: 42px;
    border-radius: 5px;
    border: 2px solid #999;
    background: none;
    margin-top: 10px;
    color: #999;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.entity-list article a:hover{
    color: #fffef7;
    background: #346f58;
}

.entity-list .actions{
    display: flex;
    justify-content: space-between; /* joga um botão para a esquerda e outro para a direita */
    margin-bottom: 20px;
}

.entity-list .actions button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #fffef7;
    color: #346f58;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.entity-list .actions button[disabled]{
    opacity: 0.3;
    cursor: default;
}

.entity-list .actions button:hover{
    opacity: 0.7;
}

.entity-list .actions button[disabled]:hover{
    opacity: 0.3;
}

