header{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto; /* 32px em cima e em baixo, auto nas laterais */
    display: flex;
    align-items: center;
    margin-bottom: 48px
}

header span{
    font-size: 20px;
    margin-left: 24px;
}

header img{
    height: 64px;
}

header button{
    height: 60px; /* altura */
    width: 100px; /* largura */
    border-radius: 8px; /* arredondamento das bordas */
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    /* transition: 0.4s; */
    transition: border-color 0.4s;
    transition: background 1s;
    margin-left: auto; /* joga o link o máximo possível para a direita */
    
}

header button:hover{
    border-color: #999;
    background: #dcdce6;
}